<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <title>애니</title>
        <style>
            .centered {
                text-align: center;
                margin-top: 50px;
            }

            img {
                width: 80vw;
                height: 80vw;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
    <div class="centered">
        <img th:src="@{${ani.imageUrl}}" alt="Ani Image" />
        <p th:text="${ani.index}"></p>
        <p th:text="${ani.title}"></p>
        <p th:text="${ani.famousLine}"></p>
    </div>
    </body>
</html>
